.container {
  max-width: 650px;
  margin: 2rem auto;
  padding: 1rem;
}

.heading {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: glacialbold;
}

.text {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-family: glacial;
}

.workList {
  margin-top: 3rem;
  list-style: none;
  padding: 0;
  font-family: glacial;
}

.workItem {
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}
.workItemlast {
  margin-bottom: 1rem;
}

.link {
  font-size: 0.9rem;
  color: #434134;
  text-decoration: none;
  font-family: glacial;
  display: inline-block;
  margin-top: 6px;
}

.screenshot {
  width: 100%;
  height: auto;
  margin-top: 16px;
}

@media (max-width: 650px) {
  .heading {
    text-align: center;
  }
}
