.navbar {
  position: relative;
  padding: 1rem;
}

.navLinks {
  list-style: none;
  margin: 85px auto 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  padding: 1rem;
}

.navLinks li {
  margin: 0 0.5rem;
}

.navLinks a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #332f21;
  transition: color 0.2s;
  font-family: glacialbold;
}

.navLinks a:hover {
  color: #9a9894;
}

.burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 1rem;
  z-index: 2000;
  color: #332f21;
}

@media (max-width: 650px) {
  .navLinks {
    display: none;
    flex-direction: column;
    background-color: #ffffff5d;
    position: absolute;
    text-align: right;
    padding-right: 2rem;
    line-height: 2rem;
    z-index: 1000;
  }

  .open {
    display: flex;
  }

  .burger {
    display: block;
  }
}
