.title {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #585039;
  font-size: clamp(1.5rem, 4vw, 2.5rem); /* шрифт адаптируется */
  text-shadow: 0 0 4px rgba(72, 71, 71, 0.6);
  max-width: 90vw;
  font-family: glacialbold;
  letter-spacing: 0.05em;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap; /* чтобы не переносилось */
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

@media (max-width: 650px) {
  .title {
    font-size: 1.3rem;
    white-space: normal;
    padding: 0 10px;
    text-shadow: 0 0 2px rgba(72, 71, 71, 0.6);
  }
}
