/* List 1 - app/page.module.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 160px;
}

.hero {
  margin-top: 0px;
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}

.heroImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 0;
}

@media (max-width: 650px) {
  .hero {
    margin-top: 5rem;
  }
}

/* .title {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #585039;
  font-size: 2.5rem;
  text-shadow: 0 0 4px rgba(72, 71, 71, 0.6);
  width: 150%;
  font-family: glacialbold;
  letter-spacing: 0.05em;
} */

/* .navLinks ul {
  list-style: none;
  margin-top: 60px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.navLinks a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #332f21;
  transition: color 0.2s;
  font-family: glacialbold;
}

.navLinks a:hover {
  color: #9a9894;
} */
